:root {
    --main-fg-color: #131313;
    --main-bg-color: #fefefe;
    --code-bg-color: #dadada;
    --accent-color: #148a59;
    --dimmed-fg-color: #474747;
}

@media (prefers-color-scheme: dark) {
    :root {
        --main-fg-color: #cacaca;
        --main-bg-color: #020914;
        --code-bg-color: #07101f;
        --accent-color: #854e10;
        --dimmed-fg-color: #a1a1a1;
    }
}

body {
	font-family: Helvetica, Arial, sans-serif;
	padding: 1em;
	margin: auto;
	max-width: 45em;
	background-color: var(--main-bg-color);
    color: var(--main-fg-color);
    text-align: justify;
}

a {
    color: var(--accent-color);
}

a:hover {
    text-decoration: none;
    /* color: var(--main-fg-color); */
}

img {
    max-width: 70%;
    margin: 0 auto;
    display: block;
}

.links {
    text-align: center;
    margin: 0.5em 0;
}

.links a {
    display:inline-block;
    margin:0 0.5em;
}

pre {
    background-color: var(--code-bg-color);
    padding: 0.7em 1em;
    border-radius: 5px;
    overflow: scroll;
    margin-top: 2em;
}

.caption {
    color: var(--dimmed-fg-color);
    padding:0 1em;
    font-style: italic;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
}

thead tr {
    border-bottom: 1px solid var(--main-fg-color);
}

td, th {
    padding: 0.5em 1em;
    text-align: center;
}